@charset "utf-8";
html{
    background-color: #f5f5f5;
}
/* common */
.nothing{
    margin: 8rem auto;
    text-align: center;
}
.nothing .icon{
    margin: 1rem;
}
.nothing .icon i{
    font-style: normal;
    font-size: 5rem;
    color: #fff;
    display: block;
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
    box-sizing: border-box;
    background-color: #1E9FFF;
    border-radius: 100%;
    line-height: 5rem;
}
.nothing .text{
    font-size: 1.5rem;
    color: #949394;
}


/* member css */
.overview .member-body {
    color:#fff;
    padding: 1rem 0.5rem;
}
.overview .member-body .avatar{
    margin-left: 1.5rem;
    height: 3.5rem;
    width: 3.5rem;
}
.overview .member-body .avatar img{
    border: 0.2rem solid #fff;
    height: 100%;
    width: 100%;
}
.overview .member-body .username {
    line-height: 3.5rem;
    font-size: 1rem;
    height: 100%;
}

.overview .owner-block{
    margin: 0.5rem 0 0 0;
    background-color: #fff;
}
.overview .owner-block .owner-body
{
    width: 100%;
    text-align: center;
}
.overview .owner-block .owner-body .icon{
    margin: 0.8rem 0;
}
.overview .owner-block .owner-body .icon i{
    font-size: 2.3rem;
}
.overview .owner-block .owner-body .text{
    margin: 1rem 0;
    color:#333;
    font-size: 0.8rem;
}
.overview .owner-block .owner-body span{
    margin: 0 0.3rem;
    color: #ffd35c;
    font-size: 1rem;
}

.overview .app-block
{
    margin: 0.5rem 0 0 0;
    background-color: #fff;
    text-align: center;
}
.overview .app-block .app-boyd{
    margin: 1.5rem 0;
}
.overview .app-block .icon{
    margin: 0.8rem 0;
}
.overview .app-block .icon i{
    font-size: 2rem;
}
.overview .app-block .text{
    margin: 0.5rem 0;
    color:#333;
    font-size: 0.8rem;
}
.overview .app-block span{
    margin: 0 0.3rem;
    color: #ffd35c;
    font-size: 1rem;
}

/* profile css */
.overview .text-block {
    background-color: #ffffff;

}
.overview .text-block legend{
    color:#555;
}
.overview .text-block .text-line{
    margin: 0 1rem;
    padding: 0.8rem 0;
    border-bottom: 1px solid #f0f0f0;
}
.overview .text-block .text-line .left{
    float: left;
    color: #6c6c6c;
}

.overview .text-block .text-line .right{
    float: right;
    color: #6c6c6c;
}
.overview .text-block .text-line .input{
    text-align: right;
    border: none;
    color: inherit;
}

.overview .layui-tab-title li{
    width: 25%;

}
.overview .coupon .layui-tab-content{
}

.overview .coupon .coupon_line{
    margin: 0.3rem 0;
    background-color: #455b64;
}
.overview .coupon .coupon_line .left{
    border-right: 1px dashed #eee;
    float: left;
    box-sizing: border-box;
    width: 65%;
}
.overview .coupon .coupon_line .left div{
    padding: 0.5rem;
    color: #fff;
}
.overview .coupon .coupon_line .left .price{
    text-align: center;
}
.overview .coupon .coupon_line .left .price span{
    font-size: 2rem;
}
.overview .coupon .coupon_line .right{

    float: left;
    box-sizing: border-box;
    width: 35%;
}
.overview .coupon .coupon_line .right div{
    padding: 0.5rem;
    color: #fff;
}
.overview .coupon .coupon_line .right .status{
    font-size: 1.2rem;
    text-align: center;
}
.overview .coupon .coupon_line .right .time{
    text-align: center;
}
.overview .coupon .coupon_line .right .create{
    font-size: 0.1rem;
    text-align: center;
}
/* order */
.overview .order_block
{

}
.overview .order_block .order_line p
{
    margin: 0.5rem 0;
}
.overview .order_block .number span
{
    color: #484848;
    font-size: 0.5rem;
    font-style: italic;
}
.overview .order_block .price span
{
    color: #0C0C0C;
    font-size: 1.5rem;
}
.overview .order_block .status span
{

}

/* receipt */
.overview .receipt_line li{
    padding: 0.5rem 0;
    border-bottom: 1px solid #e1e1e1;
}
.overview .receipt_line .title{
    float: left;
    width: 30%;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.1rem;
}
.overview .receipt_line .input{
    float: left;
    width: 70%;
    box-sizing: border-box;
}
.overview .receipt_line .input input {
    border: none;
}
.overview .receipt_line .content textarea {
    border: none;
    height: 5rem;
}
.overview .receipt_line .toggle{
    float: left;
    width: 70%;
    box-sizing: border-box;
    text-align: right;
}
.overview .receipt_line .toggle div{
    margin: 0;
}
.overview .receipt_line .button{
    margin: 0.5rem 0;
}
.overview .receipt_line .receipt_title
{
    float: left;
    width: 80%;
    box-sizing: border-box;
}
.overview .receipt_line .is_check
{
    float: left;
    width: 20%;
    text-align: right;
    box-sizing: border-box;

}
.overview .receipt_line .is_check i{
    color: #5FB878;
}


/*font*/
@font-face {
    font-family: 'iconfont';  /* project id 735622 */
    src: url('//at.alicdn.com/t/font_735622_h5blojsnimo.eot');
    src: url('//at.alicdn.com/t/font_735622_h5blojsnimo.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_735622_h5blojsnimo.woff') format('woff'),
    url('//at.alicdn.com/t/font_735622_h5blojsnimo.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_735622_h5blojsnimo.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}